<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <title>Captcha Result</title>
</head>
<body>
<!--/*@thymesVar id="isValidCaptcha" type="java.lang.Boolean"*/-->
<p>Captcha Result :
    <span th:text="${isValidCaptcha}"></span>
</p>
</body>
</html>